@model List<KartApplication.Models.SakModel>
@{
    ViewData["Title"] = "Bruker Saker";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bruker Saker</h2>
@if (Model == null || !Model.Any())
{
    <p>No records found for the user.</p>
}
else
{
    <table class="tablesaksbehandler" id="saksbehandlermenu">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Referansenummer</th>
                <th>Sak Status</th>
                <th>Kontroll Status</th>
            </tr>
        </thead>
        <tbody id="saksbehandlersaks">
            @foreach (var sak in Model)
            {

                <tr onclick="window.location.href='@Url.Action("Detaljer", "Admin", new { id = sak.Id })'" style="cursor: pointer;">
                    <td>@sak.CreatedAt.ToShortDateString()</td>
                    <td>@sak.Id</td>
                    <td>@sak.Status</td>
                    <td>@sak.KontrolStatus</td>
                    <td>

                        <form asp-action="DeleteSak" asp-controller="Home" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@sak.Id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker på at du vil slette denne saken?');">Slette</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

