@model KartApplication.Models.SakModel

@{
    ViewData["Title"] = "BrukerSakDetaljer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- Sak Detayları Tablosu -->
<table class="tableForDetaljer">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Sak Status</th>
            <th>Referansenummer</th>
            <th>Tilordning Status</th>
            <th>Kontroll Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.CreatedAt.ToShortDateString()</td>
            <td>@Model.Status</td>
            <td>@Model.Id</td>
            <td>@Model.ArbeidStatus</td>
            <td>@Model.KontrolStatus</td>
        </tr>
    </tbody>
</table>
<br>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <div class="OppsummeringBox">
        <div class="OppsummeringContentTitle">
            <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Beskrivelse:
        </div>
        <p class="OppsummeringContent">@Model.Description</p>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Address))
{
    <div class="OppsummeringBox">
        <div class="OppsummeringContentTitle">
            <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Adresse:
        </div>
        <p class="OppsummeringContent">@Model.Address</p>
    </div>
}

<!-- Harita konteyneri -->
<div class="OppsummeringBox">
    <div class="OppsummeringContentTitle">
        <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Kart:
    </div>
    <div id="map" style="height: 400px; width: 100%;"></div>
</div>

<!-- Koordinatlar tablosu -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Breddegrad</th>
            <th>Lengdegrad</th>
        </tr>
    </thead>
    <tbody id="coordinatesTableBody">
        <!-- Koordinatlar burada doldurulacak -->
    </tbody>
</table>








  
@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
         <link rel="stylesheet" href="~/css/detaljer.css" />



    <script>
    var geoJsonData = @Html.Raw(Model.GeoJson);
    var selectedMapType = '@Model.SelectedMapType';
</script>
        <script src="/js/geoJsonViewer.js"></script>
}