@model List<KartApplication.Models.SakModel>
@{
    ViewData["Title"] = "Mine Saker";
    Layout = "~/Views/Shared/_BrukerLayout.cshtml";
}

<h2>Mine Saker</h2>
@if (Model == null || !Model.Any())
{
    <p>No records found for the user.</p>
}
else
{
    <table class="tablesaksbehandler" id="saksbehandlermenu">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Referansenummer</th>
                <th>Sak Status</th>
                <th>Kontroll Status</th>
            </tr>
        </thead>
        <tbody id="saksbehandlersaks">
            @foreach (var sak in Model)
            {
                <tr onclick="window.location.href='@Url.Action("Detaljer", "Home", new { id = sak.Id })'" style="cursor: pointer;">
                    <td>@sak.CreatedAt.ToShortDateString()</td>
                    <td>@sak.Id</td>
                    <td>@sak.Status</td>
                    <td>@sak.KontrolStatus</td>
                </tr>
            }
        </tbody>
    </table>
}
