@using System.Text.RegularExpressions

@model KartApplication.Models.SakModel

@{
    ViewData["Title"] = "Saksbehandler Sayfası";
    Layout = "~/Views/Shared/_SaksbehandlerLayout.cshtml";
}

<!-- Sak Detayları Tablosu -->
<table class="tableForDetaljer">
    <thead>
        <tr>
        <th>Dato</th>
<th>Sakstatus</th>
<th>Referansenummer</th>
<th>Tildelt status</th>
<th>Kontrollstatus</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.CreatedAt.ToShortDateString()</td>
            <td><span>@Regex.Replace(Model.Status.ToString(), "([a-z])([A-Z])", "$1 $2")</span></td>
            <td>@Model.Id</td>
            <td><span>@Regex.Replace(Model.ArbeidStatus.ToString(), "([a-z])([A-Z])", "$1 $2")</span></td>
           <td>@Regex.Replace(Model.KontrolStatus.ToString(), "([a-z])([A-Z])", "$1 $2")</td>


        </tr>
    </tbody>
</table>
<br>
@if (Model.ApplicationUser != null)
{
    <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th colspan="2" style="border: 1px solid #3e3e3e;">Personinformasjon</th> <!-- Overskrift venstrejustert og med kant -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: left; border: 1px solid #3e3e3e;">Navn</td> <!-- Venstrejustert og med kant -->
            <td style="text-align: left; border: 1px solid #3e3e3e;">@Model.ApplicationUser.Name</td>
        </tr>
        <tr>
            <td style="text-align: left; border: 1px solid #3e3e3e;">Etternavn</td> <!-- Venstrejustert og med kant -->
            <td style="text-align: left; border: 1px solid #3e3e3e;">@Model.ApplicationUser.Surname</td>
        </tr>
        <tr>
            <td style="text-align: left; border: 1px solid #3e3e3e;">Telefonnummer</td> <!-- Venstrejustert og med kant -->
            <td style="text-align: left; border: 1px solid #3e3e3e;">@Model.ApplicationUser.PhoneNumber</td>
        </tr>
         <tr>
            <td style="text-align: left; border: 1px solid #3e3e3e;">E-post</td> <!-- Venstrejustert og med kant -->
            <td style="text-align: left; border: 1px solid #3e3e3e;">@Model.ApplicationUser.Email</td>
        </tr>
        <tr>
            <td style="text-align: left; border: 1px solid #3e3e3e;">Adresse</td> <!-- Venstrejustert og med kant -->
            <td style="text-align: left; border: 1px solid #3e3e3e;">@Model.ApplicationUser.Adresse</td>
        </tr>
    </tbody>
</table>
}
else
{
    <p>Brukerinformasjon kunne ikke lastes inn.</p>
}
<br>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <div class="OppsummeringBox">
        <div class="OppsummeringContentTitle">
            <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Beskrivelse:
        </div>
        <p class="OppsummeringContent">@Model.Description</p>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Address))
{
    <div class="OppsummeringBox">
        <div class="OppsummeringContentTitle">
            <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Adresse:
        </div>
        <p class="OppsummeringContent">@Model.Address</p>
    </div>
}

<!-- Harita konteyneri -->
<div class="OppsummeringBox">
    <div class="OppsummeringContentTitle">
        <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Kart:
    </div>
    <div id="map" style="height: 400px; width: 100%;"></div>
</div>

<!-- Koordinatlar tablosu -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Breddegrad</th>
            <th>Lengdegrad</th>
        </tr>
    </thead>
    <tbody id="coordinatesTableBody">
        <!-- Koordinatlar burada doldurulacak -->
    </tbody>
</table>

@if (!string.IsNullOrEmpty(Model.SaksBehandlerDescription))
{
    <div class="OppsummeringBox" style="margin-top:20px;">
        <div class="OppsummeringContentTitle">
            <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> Saksbehandlerens Kommentar:
        </div>
        <p class="OppsummeringContent">@Model.SaksBehandlerDescription</p>
    </div>
}


<!-- Yönetim Paneli -->
<div class="admin-panel">
    <div class="admin-card">
        <h2>Administer saken</h2>

        <form method="post" asp-action="UpdateStatus" asp-controller="Saksbehandler" asp-route-id="@Model.Id">

            <!-- Sol tarafta mesaj alanı (textarea) -->
            <div style="width: 94%; margin-bottom: 20px;">
                <label for="SaksBehandlerDescription" style="color: white; display: block; margin-bottom: 10px;">SaksBehandlers Kommentar:</label>
                <textarea id="SaksBehandlerDescription" name="SaksBehandlerDescription" class="form-control" required
          style="width: 100%; height: 200px; background-color: #333; color: gray;
          border: 1px solid #ccc; border-radius: 5px; padding: 10px;"
          onfocus="removePlaceholder()" onblur="addPlaceholder()">Skriv en kommentar eller oppdater kommentaren ...</textarea>


            </div>

            
            
            <div class="form-group">
                <label for="sakStatus">Sak Status</label>
                <select id="sakStatus" name="sakStatus" class="form-control">
                    <option value="">Velg</option>
                    @if (Model.Status == SakStatus.SakMottatt)
                    {
                        <option value="SakMottatt" selected>Sak Mottatt</option>
                    }
                    else
                    {
                        <option value="SakMottatt">Sak Mottatt</option>
                    }
                    @if (Model.Status == SakStatus.UnderBehandling)
                    {
                        <option value="UnderBehandling" selected>Under Behandling</option>
                    }
                    else
                    {
                        <option value="UnderBehandling">Under Behandling</option>
                    }
                    @if (Model.Status == SakStatus.Ferdigstilt)
                    {
                        <option value="Ferdigstilt" selected>Ferdigstilt</option>
                    }
                    else
                    {
                        <option value="Ferdigstilt">Ferdigstilt</option>
                    }
                    @if (Model.Status == SakStatus.Avsluttet)
                    {
                        <option value="Avsluttet" selected>Avsluttet</option>
                    }
                    else
                    {
                        <option value="Avsluttet">Avsluttet</option>
                    }
                </select>
            </div>
            <!-- Arbeid Status Seçimi -->
            <div class="form-group">
                <label for="arbeidStatus">Kontroll Status</label>
                <select id="arbeidStatus" name="arbeidStatus" class="form-control">
                    <option value="">Velg</option>
                    @if (Model.ArbeidStatus == ArbeidStatus.IkkeTilordnet)
                    {
                        <option value="IkkeTilordnet" selected>Ikke Tilordnet</option>
                    }
                    else
                    {
                        <option value="IkkeTilordnet">Ikke Tilordnet</option>
                    }
                    @if (Model.ArbeidStatus == ArbeidStatus.Tilordnet)
                    {
                        <option value="Tilordnet" selected>Tilordnet</option>
                    }
                    else
                    {
                        <option value="Tilordnet">Tilordnet</option>
                    }
                    @if (Model.ArbeidStatus == ArbeidStatus.KontrollAvlyst)
                    {
                        <option value="KontrollAvlyst" selected>Kontroll Avlyst</option>
                    }
                    else
                    {
                        <option value="KontrollAvlyst">Kontroll Avlyst</option>
                    }
                </select>
            </div>
                <!-- Kontrolleren Atama Seçimi -->
            <div class="form-group">
                <label for="kontrollerenId">Oppdrag Til Kontrolleren</label>
                <select id="kontrollerenId" name="kontrollerenId" class="form-control" asp-items="ViewBag.KontrollerenUsers">
                    <option value="">Velg</option>
                </select>
            </div>


            <div class="form-actions">


                <button type="submit" class="btn btn-primary">Lagre</button>
            </div>
        </form>
    </div>
</div>

  
@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
         <link rel="stylesheet" href="~/css/detaljer.css" />



    <script>
    var geoJsonData = @Html.Raw(Model.GeoJson);
    var selectedMapType = '@Model.SelectedMapType';
</script>
        <script src="/js/geoJsonViewer.js"></script>


   <script>
    function removePlaceholder() {
        var textarea = document.getElementById("SaksBehandlerDescription");
        if (textarea.value === "Skriv en kommentar eller oppdater kommentaren ...") {
            textarea.value = "";
            textarea.style.color = "white";
        }
    }

    function addPlaceholder() {
        var textarea = document.getElementById("SaksBehandlerDescription");
        if (textarea.value === "") {
            textarea.value = "Skriv en kommentar eller oppdater kommentaren ...";
            textarea.style.color = "gray";
        }
    }

    // Sayfa yüklendiğinde placeholder rengini ayarlayın
    document.addEventListener("DOMContentLoaded", function() {
        var textarea = document.getElementById("SaksBehandlerDescription");
        if (textarea.value === "Skriv en kommentar eller oppdater kommentaren ...") {
            textarea.style.color = "gray";
        }
    });
</script>
    
}