@model List<SakModel>

@{
    ViewData["Title"] = "Saksbehandler Sayfası";
    Layout = "~/Views/Shared/_SaksBehandlerLayout.cshtml";
}

<table class="tablesaksbehandlerFerdigeSaks" id="saksbehandlermenu">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Sak Status</th>
            <th>Referansenummer</th>
            <th>Kontroll Status</th>
        </tr>
    </thead>
    <tbody id="saksbehandlersaks">
        @foreach (var sakModel in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Detaljer", "Saksbehandler", new { id = sakModel.Id })'" style="cursor: pointer;">
                <td>@sakModel.CreatedAt.ToShortDateString()</td>
                <td>@sakModel.Status</td>
                <td>@sakModel.Id</td>
                <td>@sakModel.IsTemporary </td>
            </tr>
        }
    </tbody>
</table>